<section class="overlay">
  <div class="modal-content">
    <button class="close-button" (click)="close()">✖</button>
    <h2>{{ "editItem.title" | translate }}</h2>
    <form [formGroup]="editItemForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">{{ "editItem.name" | translate }}:</label>
        <input id="name" formControlName="name" type="text">
      </div>
      <div>
        <label for="description">{{ "editItem.description" | translate }}:</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
      <div>
        <label for="price">{{ "editItem.price" | translate }}:</label>
        <input id="price" formControlName="price" type="number">
        <div *ngIf="priceControl?.invalid && priceControl?.touched">
          <small *ngIf="priceControl?.errors?.['min']">{{ "editItem.priceInvalidValue" | translate }}.</small>
        </div>
      </div>
      <button type="submit" [disabled]="editItemForm.invalid">{{ "editItem.modify" | translate }}</button>
    </form>
  </div>
</section>
  