<header>
    <div class="logo">WishME
     
    </div>

    <span *ngIf="name">{{ "header.welcome" | translate }} {{name}}</span>
    <nav>
      <ul>
        <li><a routerLink="/">{{ "header.home" | translate }}</a></li>
        <li><a href="/about">{{ "header.about" | translate }}</a></li>
        <li><a href="/catalogue">{{ "header.catalog" | translate }}</a></li>
        <li *ngIf="name"><a href="/lists">{{ "header.myLists" | translate }}</a></li>
        <li  *ngIf="name"><a href="/sharedlists">{{ "header.sharedLists" | translate }}</a></li>
        <li  *ngIf="name"><a href="/friendsLists">{{ "header.friendsLists" | translate }}</a></li>
        <li><a href="#contact">{{ "header.contact" | translate }}</a></li>
        <li *ngIf="!name"><a routerLink="/register">{{ "header.register" | translate }}</a></li>
      </ul>
    </nav>
  
    <div class="header-right">
      <button *ngIf="name" class="disconnect-button" (click)="this.disconnect()">
        {{ "header.logOut" | translate }}
      </button>
      <a  *ngIf="name" href="/account">{{ "header.account" | translate }}</a>
      <button *ngIf="!name" class="connect-button" (click)="this.connect()">
        {{ "header.logIn" | translate }}
      </button>
  
      <div class="lang-selector">
        <label for="lang">Language</label>
        <select id="lang" [(ngModel)]="selectedLangage" (change)="changeLangage()">
          <option *ngFor="let langage of langages" [value]="langage">
            {{ langage }}
          </option>
        </select>
      </div>
    </div>
  </header>
  