<div [formGroup]="formList">
    <h3>Nouvelle liste</h3>
    <label>Nom de la liste</label>
    <input type="text" formControlName="name"/> 
    <label>Partager ma liste : </label>
    <input type="checkbox" formControlName="shared"/>
    <button (click)="createList()">Créer ma liste</button>
</div>

<div *ngFor="let list of lists$ | async">
    <h3>{{list.name}}</h3>
    <p>{{list.items.length}} item(s)</p>
    <p *ngIf="list.shared">Cette liste est partagée</p>
    <button *ngIf="list.shared" (click)="changeListStatus(false, list.id)">Passer en privée</button>
    <p *ngIf="!list.shared">Cette liste est privée</p>
    <button *ngIf="!list.shared" (click)="changeListStatus(true, list.id)">Passer en pubic</button>
    <a href="{{'list/'+list.id}}">Voir la liste</a>
</div>

